
<div class="modal fade" id="bsConfirmationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">@ModalTitle</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        @onclick="@(() => ConfirmationClicked(false))">
                    Close
                </button>
                <button type="button" class="btn @Bootstrap"
                        @onclick="@(() => ConfirmationClicked(true))">
                    @ButtonText
                </button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string? ButtonText { get; set; } = "You're a boss!";

    [Parameter]
    public string? ModalTitle { get; set; } = "Dude!";

    [Parameter]
    public string? Bootstrap { get; set; } = "btn-primary";

    [Parameter]
    public EventCallback<bool> OnModalConfirmation { get; set; }

    private async Task ConfirmationClicked(bool value) {

        if (value) {

            await OnModalConfirmation.InvokeAsync(true);
        } else {

            await OnModalConfirmation.InvokeAsync(false);
        }
    }
}
